body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  position: relative;
  font-family: sans-serif;
}
.App {
  width: 90%;
  display: flex;
    margin: 5vh auto;
    flex-direction: column;
}
.years {
  margin: 5px;
}
.year-list {
  display: flex;
  flex-wrap: wrap;
}
.year {
    width: 51px;
    height: 33px;
    padding: 0;
    border: 0;
    font-size: 11px;
    border-radius: 13%;
    margin-right: 14px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: bold;
    background-color: #83e383;
} 
.selected-year {
  background: #1b1920;
  color: white;
}
.year:hover {
  border: 1px solid black;
}
.year:focus {
  outline: none;
}
.loader {
  width: 200px;
  display: block;
  margin: auto;
}
.products {
  margin: 5px;
}
.products-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.products-nav h3 {
  margin: 0;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 14px 10px;
  max-width: 239px;
}
.card-title {
  margin-top: 9px;
  margin-bottom: 3px;
  color: #196ead;;
  cursor: pointer;

}
.card-image {
  width: 248px;
  height: auto;
}

@media only screen and (min-width: 760px) {
  .App {
    width: 90%;
    display: flex;
    margin: 5vh auto;
    flex-direction: row;
  }
  .years {
    
    text-align: center;
    margin-right: 6.5px;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-basis: 20%;
  }
  .years h3 {
    margin: 10px auto;
  }
  .years-list {
    justify-content: center;
  }
  .years {
    margin-right: 6.5px;
  }
  .products-nav h3 {
    margin: 10px auto;
  }
  .products-length {
    display: flex;
    justify-content: center;
  }
  .products{
    flex-grow: 2;
    flex-basis: 80%;
  }
}